/*
Colors used:
Typeface Black: #000000 Opacity 87%
Background White: #ffffff
*/
* {
  box-sizing: border-box;
}

body {background-color: white;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; /* Sets the font size to 16px */
     font-weight: 300; /* Sets the font weight to 300 */
     line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
     color: #4a4a4a;}

h1, h2, h3, h4 {
line-height: 1.4;
}
h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
font-size: 2.25em;
font-weight: 700;
}

h3 {
font-size: 1.75em;
font-weight: 400;
}
h4 {
font-size: 1.35em;
font-weight: 400;
}

img {width: 100%;}
a {color: #4AA7F7;text-decoration: none; /* No underlining */}
a:visited { /* visited link */color: #1C88E4;}
a:hover {color: #70BDFF;text-decoration: underline; /* Underlining when hovering over a link */}
a:active { /* selected link */color: #146EBB;}

nav > ul > li > a:visited { /* visited link */color: #000000;}
nav > ul > li > a:hover {color: #000000;text-decoration: underline; /* Underlining when hovering over a link */}
nav > ul > li > a:active { /* selected link */color: #000000;}

a.button
  {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ffffff;
  color: #4AA7F7; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #979797; /* width of the border, type, color */
  transition: 0.2s opacity;
  }

