/*
Colors used:
Typeface Black: #000000 Opacity 87%
Background White: #ffffff
*/
* {
  box-sizing: border-box;
}

body {background-color: white;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px; /* Sets the font size to 16px */
     font-weight: 300; /* Sets the font weight to 300 */
     line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
     color: #4a4a4a;}

h1, h2, h3, h4 {
line-height: 1.4;
}
h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
font-size: 2.25em;
font-weight: 700;
}

h3 {
font-size: 1.75em;
font-weight: 400;
}
h4 {
font-size: 1.35em;
font-weight: 400;
}

img {width: 100%;}
a {color: #4AA7F7;text-decoration: none; /* No underlining */}
a:visited { /* visited link */color: #1C88E4;}
a:hover {color: #70BDFF;text-decoration: underline; /* Underlining when hovering over a link */}
a:active { /* selected link */color: #146EBB;}

nav > ul > li > a:visited { /* visited link */color: #000000;}
nav > ul > li > a:hover {color: #000000;text-decoration: underline; /* Underlining when hovering over a link */}
nav > ul > li > a:active { /* selected link */color: #000000;}

a.button
  {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  color: #4AA7F7; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #979797; /* width of the border, type, color */
  transition: 0.2s opacity;
  }




/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

#hero p {
  text-align: center; /* Centers text */
}

#work h2 {
  text-align: center; /* Centers text */
}

#footer h2 {
  text-align: center; /* Centers text */
}

#footer p {
  text-align: center; /* Centers text */
}

#about h1 {
  text-align: center; /* Centers text */
}

#about h2 {
  text-align: center; /* Centers text */
}

#about h3 {
  text-align: center; /* Centers text */
}

#about p {
  text-align: center; /* Centers text */
}

#about ul {
  text-align: center; /* Centers text */
  list-style-type: none;
  padding: 0;
}

#modhouse h1 {
  text-align: center; /* Centers text */
}

#modhouse h2 {
  text-align: center; /* Centers text */
}

#modhouse h3 {
  text-align: center; /* Centers text */
}

#modhouse p {
  text-align: center; /* Centers text */
}

#modhouse ul {
  text-align: center; /* Centers text */
  list-style-type: none;
  padding: 0;
}


.center {
  text-align: center;
}


/* Header Styling */

.logo {
  max-width: 250px;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
  box-shadow:0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  position: relative;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4a4a4a;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


/* Footer Styling */

#footer {
  text-align: center;
}

#footer h2 {
  text-align: center; /* Centers text */
}

#footer p {
  text-align: center; /* Centers text */
}

.social {
  text-align: center;
  margin-top: 20px;
}

.social a {
  display: inline-block;
  width: 50px;
  margin: 0 10px;
}

.center {
  text-align: center;
}
